{% extends "base.html" %}
{% block header_left %}
    <div class="dropdown">
        <button class="dropdown-button">Check Workers</button>
        <ul class="dropdown-content align-left">
            <li><a href="{{ url_for('.show_users') }}">Check Users</a></li>
            <li><a href="{{ url_for('.add_user') }}">Add User</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="dropdown-button">Check Sales</button>
        <ul class="dropdown-content align-left">
            <li><a href="#">Check Users</a></li>
            <li><a href="#">Add User</a></li>
        </ul>
    </div>
{% endblock %}