{% extends "admin_base.html" %}
{% block head_script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <script>
        // collect variables
        {#const dateStringToWorkedHours = {{ dateToWorkedHours|safe }};#}
        {#const topWorkingHoursWorkers = {{ topWorkingHoursWorkers|safe }}#}
        {##}
        {##}
        {#const sortedDates = Object.keys(dateStringToWorkedHours).sort();#}
        {#const workedDates = [];#}
        {#const workedHours = [];#}
        {##}
        {#for (let key of sortedDates){#}
        {#    workedDates.push(new Date(key));#}
        {#    workedHours.push(dateStringToWorkedHours[key]);#}

        const earningsMetricValues = {{ whm_hist_all | safe }};
        const earningsMetricLabelsString = {{ whm_label_all | safe }};

        const earningsMetricTopKValues = {{ whm_hist_topk | safe }};
        const earningsMetricTopKLabelString = {{ whm_label_topk | safe }};
        const earningsMetricTopKWorkerNames = {{ whm_worker_names_topk | safe }};


        const earningsMetricLabels = earningsMetricLabelsString.map(dateString => new Date(dateString));
        const earningsMetricTopKLabels = earningsMetricTopKLabelString.map(dateString => new Date(dateString));


    </script>

    {% endblock %}
{% block body %}
    <div id="main">
        <div id="dashboard">
            <canvas class="card" id="chart1"></canvas>
            <canvas class="card" id="chart2"></canvas>
            <canvas class="card" id="chart3"></canvas>
            <canvas class="card" id="chart4"></canvas>
        </div>
    <script src="{{ url_for('static', filename='scripts/show_plots.js') }}"></script>
    </div>
{% endblock %}

{% block style %}
    #main{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    #dashboard{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .card{
        width: 400px;
        height: 300px;
        border: solid;
    }
{% endblock %}
{% block script %}

{% endblock %}

