{% extends "base.html" %}
{% block head_script %}
    <title>Worker's Page</title>
    <script>
        function recordClickDateTime(elementId){
            const currentDateTime = new Date().toJSON().slice(0, 19);
            document.getElementById(elementId).value = currentDateTime;
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">#}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{{ url_for('static', filename='/scripts/fetch.js') }}"></script>
    <!--populating cards by plots-->
    <script src="{{ url_for('static', filename='scripts/chart_creation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/datetime.js') }}"></script>

    <script>
        // embed variables
        const apiURL = "{{ url_for('api.get_single_user_data') }}";
        const userId = "{{ user_id }}";

        // data fetch restriction
        const minAvailableYarAndTimeString = {{ min_datetime | safe }};
        const minDatetime = new Date(minAvailableYarAndTimeString);
        const minYearMonth = strftimeDateIntoYearMonth(minDatetime);

        // fetch and populate plots asynchronously
        document.addEventListener("DOMContentLoaded", () => {

            // prepare dates
            const [currentMonthString, threeMonthAgoString] = generateThisMonthAndNMonthsAgoStrings(3);

            // total earnings
            const canvas1 = document.getElementById("chart1");
            fetchSingleUserDataAndPopulateCanvas(canvas1, apiURL, userId, "workingHours", threeMonthAgoString, currentMonthString)

            // total working hours
            const canvas2 = document.getElementById("chart2");
            fetchSingleUserDataAndPopulateCanvas(canvas2, apiURL, userId, "earnings", threeMonthAgoString, currentMonthString)


        })

    </script>
{% endblock %}
{% block body %}
        <h2 style="padding-left: 3%;">Good Afternoon {{ current_user.first_name }}!</h2>

    <div style="display: flex; justify-content: center">
        <div style="width: 40%">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>


        <div style="display:flex;justify-content:center;margin-bottom:20px;">
            <div class="actions-container">
                <h2>Take Actions</h2>
                {% if has_started_work %}

                    <form action="{{ url_for('.finish_work') }}" method="POST">
                        <input type="hidden" id="end-work" name="end-datetime" value="">
                        <button type="submit" onclick="recordClickDateTime('end-work')" class="work-status-change-button">Finish Work</button>
                    </form>

                    <form action="{{ url_for('.cancel_work') }}" method="POST">
                        <button type="submit" class="work-status-change-button">Cancel Work</button>
                    </form>


                {% else %}
                    <form class="action-form" action="{{ url_for('.start_work') }}" method="POST">
                        <input type="hidden" id="start-work" name="start-datetime" value="">
                        <button type="submit" onclick="recordClickDateTime('start-work')" class="work-status-change-button">Start Work</button>
                    </form>

                {% endif %}
            </div>
        </div>

        <div id="dashboard-plots">
            <!--card1-->
            <div class="card">
                <h2 class="card-title">Working Hours on Each Day</h2>
                <canvas id="chart1"></canvas>
                <div class="data-month-selector">
                    <label for="start-card1">Start month:</label>
                    <input class="startMonth" type="month" id="start-card1" />
                    <label for="end-card1">End month:</label>
                    <input class="endMonth" type="month" id="end-card1" />
                    <button id="fetchData1">Load</button>
                </div>

            </div>

            <!-- card2 -->
            <div class="card">
                <h2 class="card-title">Earnings on Each Day</h2>
                <canvas id="chart2"></canvas>
                <div class="data-month-selector">
                    <label for="start-card2">Start month:</label>
                    <input class="startMonth" type="month" id="start-card2"/>
                    <label for="end-card2">End month:</label>
                    <input class="endMonth" type="month" id="end-card2"/>
                    <button id="fetchData2">Load</button>
                </div>
            </div>


            <!--setting default values for data start/end selectors-->
            <script>
                // todo add validation to ensure that start date is less than the end date

                // setting startSelectors
                const [currentMonthString, threeMonthAgoString] = generateThisMonthAndNMonthsAgoStrings(3);

                const endMonthControls = document.getElementsByClassName("endMonth");
                Array.from(endMonthControls).forEach(control => {
                    control.value = currentMonthString;
                    control.max = currentMonthString;
                    control.min = minYearMonth;
                })

                const startMonthControls = document.getElementsByClassName("startMonth");
                Array.from(startMonthControls).forEach(control => {
                    control.value = threeMonthAgoString;
                    control.max = currentMonthString;
                    control.min = minYearMonth;
                })

            </script>


            <!-- associate function to the datafetch button-->
            <script>
                document.getElementById("fetchData1").addEventListener("click",
                    (event) => refetchSingleUserData(event, apiURL, userId, "earnings"));
                document.getElementById("fetchData2").addEventListener("click",
                    (event) => refetchSingleUserData(event, apiURL, userId, "workingHours"));
            </script>

        </div>
{% endblock %}

{% block style %}
    body{
    background-color: #f0f2f2;
    }
    #main{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    #dashboard-plots{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        margin-bottom: 50px;
    }

    .card{
        width: 630px;
        padding: 30px;
{#        height: 600px;#}
        border: solid 1px white;
        border-radius: 20px;
        background-color: white;
{#        box-shadow: -1px -1px 10px grey;#}
    }

    .data-month-selector{
        display:flex;
        justify-content: center;
    }

    .startMonth{
        margin-right: 15px;
    }

    .endMonth{
        margin-right: 20px;
    }

    .card-title{
        margin-top: 0px;
    }


{% endblock %}