body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
canvas{
    width: 500px;
    height: 250px;
}

.dashboard-element{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px;


}
.dashboard-element-textbox{
    color: #7dc0c0;
    width: 478px;
    height: 230px;

}


.cell {
    height: 250px;
}

.left{
    display: flex;
    justify-content: flex-end;
}

.right{
    display: flex;
    justify-content: flex-start;
}