/*.action-container{*/
/*    !*background-color: aliceblue;*!*/
/*    height: 150px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    width: 40%;*/
/*    */
/*}*/

.actions-container{
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid transparent;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    padding: 10px;
    align-items: center;
}

.work-status-change-button{
    height: 50px;
    /*width: 40%;*/
    background-color: #7dc0c0;
    font-size: 20px;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 10px;
}

.work-status-change-button:hover{
    background-color: #166060;
    cursor: pointer;
}

.error{
    color: red;
}

.success{
    color: green;
}

.input-error{
    border: 1px solid red;
}