.action-container{
    /*background-color: aliceblue;*/
    height: 100px;

    display: flex;
    align-items: center;
}

.work-status-change-button{
    height: 50px;
    width: 200px;
    background-color: #7dc0c0;
    border: solid #1e6b6b;
}

.work-status-change-button:hover{
    background-color: #166060;
    cursor: pointer;
}

.error{
    color: red;
}

.success{
    color: green;
}

.input-error{
    border: 1px solid red;
}

.actions-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    gap: 20px;
}

.action-form{

}